@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/gangstergrotesk-regular.woff") format("woff");
}

@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/gangstergrotesk-bold.woff") format("woff");
  font-weight: bold;
}

@font-face {
  font-family: "Gangster Grotesk";
  src: url("fonts/gangstergrotesk-light.woff") format("woff");
  font-weight: light;
}

body * {
  margin: 0;
  font-family: "Open Sans";
  letter-spacing: 0.02em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: "Open Sans";
}

body {
  margin: 0;
}
